PORT=5003
MONGO_URI=mongodb+srv://aashisingh910_db_user:O4GAHhMlElQcykTb@bigolens.koobmnh.mongodb.net/hometown_pos
JWT_SECRET=123456
JWT_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:5173
SENDGRID_API_KEY=your_sendgrid_api_key_here
SENDGRID_FROM_EMAIL=no-reply@hometown.in
